@model eTUTOR.Models.tutor
@using eTUTOR.Models;
@{
    ViewBag.Title = "InfoOfTutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    eTUITOREntities db = new eTUITOREntities();
    var sessionlist = ViewData["sessionlist"] as List<eTUTOR.Models.session>;  /*use for line 331*/
    var scheduleList = ViewData["scheduleList"] as List<eTUTOR.Models.schedule>; /*use for line 437*/
}


@section css{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!--     Fonts and icons     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/gsdk-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/vendor/bootstrap/css/demo.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/parent.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/avatar.css" rel="stylesheet" />
    @*<link href="~/Content/build/css/page/infoOfTutor.css" rel="stylesheet" />*@
    <link href="~/Content/vendor/lightbox2/dist/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/TutorHomePage.component.css" rel="stylesheet" />
}


<div class="image-container set-full-height">

    <div class="container row mt-3">
        <div class="left col-4">
            <img src="~/Content/img/avatar/tutor/@Html.DisplayFor(model => model.avatar)" class="ml-4 mt-4" height="250px" width="250px"
                 alt="avatar" style="border-radius: 20%;margin-top: 0px;" />
            <a href="#" style="display: inline-block">
                <div class="namepro ml-4" style="text-align: center;">@Html.DisplayFor(model => model.fullname)</div>
                <table class="table">

                    <tr>
                        <td class="tdl">
                            Tên đăng nhập
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.username)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Địa chỉ
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.address)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Ngày sinh
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.birthday)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Số điện thoại
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.phone)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Email
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.email)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Chuyên ngành giảng dạy
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.specialized)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Công việc hiện tại
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.job)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl" style="padding-top: 19px;">
                            Kinh nghiệm
                        </td>
                        <td class="tdr">
                            @Html.DisplayFor(model => model.experience)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl">
                            Bằng cấp
                        </td>
                        <td class="tdr">
                            <img src="~/Content/img/certificates/@Model.tutor_id/@Model.certificate" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdl"></td>
                        @*Chỉnh sửa*@
                        <td>
                            <button type="button" class="btn btn-primary p-2" data-toggle="modal" data-target="#myModal"
                                    style="margin-left: 65%">
                                Chỉnh sửa
                            </button>
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title" style="margin-left: 30%">Chỉnh sửa Tiểu sử</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <div class="modal-body">
                                            <table class="table">
                                                <tr>
                                                    <td class="tdl">
                                                        Họ và tên
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="text" placeholder="Nguyễn Ngọc Ngân">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Tên đăng nhập
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="text" placeholder="ngannguyen193">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Địa chỉ
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="text" placeholder="69 Trần Duy Hưng, Cầu Giấy, Hà Nội">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Ngày sinh
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="datetime-local" placeholder="12/12/2002">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Số điện thoại
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="text" placeholder="027823643">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Email
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="email" placeholder="ngannguyen193@gmail.com">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Chuyên ngành dạy
                                                    </td>
                                                    <td class="tdr">
                                                        <textarea rows="3" cols="30">
                                                            Luyện thi đại học khối A
                                                        </textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Công việc hiện tại
                                                    </td>
                                                    <td class="tdr">
                                                        <input type="text" placeholder="Trường THCS Lý Tự Trọng" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl" style="padding-top: 19px;">
                                                        Kinh nghiệm
                                                    </td>
                                                    <td class="tdr">
                                                        <div class="form-wrapper">
                                                            <select name="" id="" class="form-control" style="border: none">
                                                                <option value="" disabled selected>Năm kinh nghiệm</option>
                                                                <option value="1">Không kinh nghiệm</option>
                                                                <option value="2">+1</option>
                                                                <option value="3">+3</option>
                                                                <option value="4">+5</option>
                                                            </select>
                                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdl">
                                                        Bằng cấp
                                                    </td>
                                                    <td class="tdr">
                                                        <div class="slider-wrapper">
                                                            <ul class="s-thumbs">
                                                                <li>
                                                                    <a href="#slide-1">
                                                                        <img src="~/Content/img/chung_chi/cc_1.jpg" alt="" width="50" height="50" />
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <ul class="s-slides">
                                                                <li id="slide-1" class="slideLeft">
                                                                    <img src="~/Content/img/chung_chi/cc_1.jpg" style="width:150px" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <input type="file" class="mt-3" />
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

        </div>
        <div class="right col-8">
            <div>
                <h3 style="border: 2px solid pink; border-radius: 10px; width: 900px;" class="p-3 pl-3">KÊNH GIA SƯ</h3>
                <div id="demo-accordion-collapse" role="tablist">
                    @*Danh sách buổi học*@
                    <div class="card" style="width: 900px">
                        <div class="card-header" role="tab" id="accord2" style="border-radius: 10px; background-color:indianred; font-size: 8px; padding-left: 10px; padding-bottom: 15px; padding-top: 0px">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-pane-2" role="button" aria-expanded="false" aria-controls="collapse-pane-2" style="font-size:20px">
                                    Danh sách buổi học
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-pane-2" class="collapse" role="tabpanel" aria-labelledby="accord2"
                             data-parent="#demo-accordion-collapse">
                            <div class="card-body">
                                <div class="form-wrapper pb-3">
                                    <select name="" id="select-dotw" class="form-control"
                                            style="border: none; border: 2px solid black; width: 30%; margin-left: 70%">
                                        <option value="" disabled selected>Chọn thứ cần lọc</option>
                                        <option value="-1">Chọn hết</option>
                                        <option value="2">Thứ 2</option>
                                        <option value="3">Thứ 3</option>
                                        <option value="4">Thứ 4</option>
                                        <option value="5">Thứ 5</option>
                                        <option value="6">Thứ 6</option>
                                        <option value="7">Thứ 7</option>
                                        <option value="8">Chủ nhật</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                </div>
                                <div id="sessionapproved">

                                </div>
                            </div>
                        </div>
                    </div>
                    @*Duyệt học sinh đăng ký học*@
                    <div class="card" style="width: 900px">
                        <div class="card-header" role="tab" id="accord3" style="border-radius: 10px; background-color:indianred; font-size: 8px; padding-left: 10px; padding-bottom: 15px; padding-top: 13px; margin-top:10px">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-pane-3" role="button" aria-expanded="false" aria-controls="collapse-pane-3" style="font-size:20px">
                                    Duyệt học sinh đăng ký học
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-pane-3" class="collapse" role="tabpanel" aria-labelledby="accord3"
                             data-parent="#demo-accordion-collapse">
                            <div class="card-body">

                                <table class="table" style="text-align: center;">
                                    <tr>
                                        <th>
                                            Thứ
                                        </th>
                                        <th>
                                            Thời gian học
                                        </th>
                                        <th>
                                            Học sinh
                                        </th>
                                        <th>
                                            Số lượng đăng ký
                                        </th>

                                        <th>
                                            Admin
                                        </th>
                                        <th>
                                            Tutor
                                        </th>
                                        <th>
                                            Duyệt
                                        </th>
                                    </tr>
                                    @foreach (var session in sessionlist)
                                    {
                                        <tr>
                                            <td>
                                                @session.day_otw
                                            </td>
                                            <td>
                                                @session.start_time - @session.end_time
                                            </td>
                                            <td>
                                                <a href="#">@session.student.fullname</a>
                                            </td>
                                            <td>
                                                @session.total_sessions
                                            </td>
                                            <td>
                                                @session.status1.name
                                            </td>
                                            <td>
                                                @session.status2.name
                                            </td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                    @*Quản lý lịch biểu*@
                    <div class="card" style="width: 900px">
                        <div class="card-header" role="tab" id="accord4" style="border-radius: 10px; background-color:indianred; font-size: 8px; padding-left: 10px; padding-bottom: 15px; padding-top: 13px; margin-top:10px">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-pane-4" role="button" aria-expanded="false" aria-controls="collapse-pane-4" style="font-size:20px">
                                    Quản lý lịch biểu
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-pane-4" class="collapse" role="tabpanel" aria-labelledby="accord4"
                             data-parent="#demo-accordion-collapse">
                            <div class="card-body row">
                                <h6 class="ml-3"> <strong>Thêm buổi học</strong> </h6>
                                <form action="/Tutor/CreateSchedule" method="post" onsubmit="return ">
                                    <div class="row" style="margin-top:30px">
                                        <div class="form-wrapper col-3">
                                            <select name="day_otw" class="form-control" style=" width: 225px; border-radius:6px">
                                                <option value="" disabled selected>Thứ</option>
                                                <option value="Thứ 2">Thứ 2</option>
                                                <option value="Thứ 3">Thứ 3</option>
                                                <option value="Thứ 4">Thứ 4</option>
                                                <option value="Thứ 5">Thứ 5</option>
                                                <option value="Thứ 6">Thứ 6</option>
                                                <option value="Thứ 7">Thứ 7</option>
                                                <option value="Chủ nhật">Chủ nhật</option>
                                            </select>
                                            <br>
                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                        </div>
                                        <div class="col-3">
                                            <input type="text" name="start_time" style="border-radius: 5px;  height: 65%; width: 220px"
                                                   placeholder="Giờ bắt đầu">
                                        </div>
                                        <div class="col-3">
                                            <input type="datetime" name="end_time"
                                                   style="border-radius: 5px; height: 65%; width: 220px"
                                                   placeholder="Giờ kết thúc">
                                        </div> <br />
                                        <div >
                                        <textarea rows="4" cols="93" name="note" form="usrform" style="border-radius: 5px; margin-left: 15px " placeholder="Chú thích"></textarea>
                                            
                                        </div>
                                        <div class="form-wrapper col-3">
                                            <div class="col-1">
                                                <button type="submit"  id="btn-create-schedule" class="btn btn-primary" style="background-color:crimson;margin-top:30px; font-size:17px; color:white; border-radius: 100%">+</button>
                                            </div>
                                        </div>
</form>
                                <table class="table" style="text-align: center;">
                                        <tr>
                                            <th>
                                                Thứ
                                            </th>
                                            <th>
                                                Thời gian học
                                            </th>
                                            <th>
                                                Trạng thái
                                            </th>

                                            <th>
                                                Xóa
                                            </th>
                                        </tr>
                                        @foreach (var schedule in scheduleList)
                                        {
                                        <tr>
                                            <td>
                                                @schedule.day_otw
                                            </td>
                                            <td>
                                                @schedule.start_time - @schedule.end_time
                                            </td>

                                            <td>
                                                @schedule.status1.name
                                            </td>

                                            
                                            <td>
                                                <button type="button" class="btn btn-primary p-2" data-toggle="modal" data-target="#myModal1">
                                                    <i class="fa fa-window-close text-danger"></i>
                                                </button>
                                                <div class="modal" id="myModal1">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h4 class="modal-title" style="margin-left: 30%">LỊCH BIỂU</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <dl class="dl-horizontal">
                                                                    
                                                                        <dt>
                                                                            Thứ
                                                                        </dt>

                                                                        <dd>
                                                                            @schedule.day_otw
                                                                        </dd>

                                                                        <dt>
                                                                            Thời gian
                                                                        </dt>

                                                                        <dd>
                                                                            @schedule.start_time - @schedule.end_time
                                                                        </dd>

                                                                        <dt>
                                                                            Mô tả
                                                                        </dt>

                                                                        <dd>
                                                                            @schedule.note
                                                                        </dd>

                                                                        <dt>
                                                                            Trạng thái
                                                                        </dt>

                                                                        <dd>
                                                                            @schedule.status1.name
                                                                        </dd>

                                                                </dl>

                                                                @using (Html.BeginForm())
                                                                {
                                                                    @Html.AntiForgeryToken()

                                                                    <div class="form-actions no-color">
                                                                        <input type="submit" value="Delete" class="btn btn-default" data-dismiss="modal"/> |
                                                                    </div>
                                                                }
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        }



                                    </table>
                            </div>
                        </div>
                    </div>
                    @*lịch sử dạy học*@
                    <div class="card" style="width: 900px">
                        <div class="card-header mt-2" role="tab" id="accord6" style="border-radius: 10px; background-color: indianred; font-size: 20px; padding-left: 10px; padding-bottom: 15px">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-pane-6" role="button" aria-expanded="false"
                                   aria-controls="collapse-pane-6" style="font-size:20px">
                                    Xem lịch sử giảng dạy
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-pane-6" class="collapse" role="tabpanel" aria-labelledby="accord6"
                             data-parent="#demo-accordion-collapse">
                            <div class="card-body">
                                <table class="table" style="text-align: center;">
                                    <tr>
                                        <th>
                                            Thứ
                                        </th>
                                        <th>
                                            Thời gian học
                                        </th>
                                        <th>
                                            Ngày học
                                        </th>
                                        <th>
                                            Học sinh
                                        </th>
                                        <th>
                                            Môn
                                        </th>
                                        <th>
                                            Lớp
                                        </th>
                                        <th>
                                            Số buổi đã học
                                        </th>
                                    </tr>
                                    @foreach (var ses in db.history_lessons.ToList().Where(x => x.tutor_id == int.Parse(Session["UserID"].ToString())))
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => ses.day_otw)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.start_time) - @Html.DisplayFor(modelItem => ses.end_time)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.day)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.student.fullname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.subject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.student.@class)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ses.total_sessions)
                                            </td>
                                        </tr>
                                    }


                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="~/Content/vendor/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.bootstrap.wizard.js"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/Content/vendor/jquery/gsdk-bootstrap-wizard.js"></script>

    <script src="~/Content/vendor/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/lightbox2/dist/js/lightbox.min.js"></script>
    @*<script src="~/Content/build/js/TutorHomePage.component.js"></script>*@

    <script>
        $(function () {
            getSessionApproved(-1);
            $("#select-dotw").on("change", function () {
                var dotw = $(this).val();
                getSessionApproved(dotw);
            });
        })
    function getSessionApproved(dotw) {
            $.ajax({
                type: "GET",
                url: "/api/getSessionApproved/",
                data: {dotw : dotw, tutor_id : @int.Parse(Session["UserID"].ToString())},
                dataType: "html",
                success: function (response) {
                    $('#sessionapproved').html(response)
                }
            });
        }
    </script>
}
<!--   Core JS Files   -->
<!--   Core JS Files   -->
