@model eTUTOR.Models.tutor
@using eTUTOR.Models
@{
    ViewBag.Title = "ViewDetailTutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    eTUITOREntities db = new eTUITOREntities();
    var sch = db.schedules.ToList().Where(x => x.tutor_id == Model.tutor_id);
    var sj = db.subjects.ToList().Where(x => x.tutor_id == Model.tutor_id);
    var _trueHaveIdOfTutor = db.history_lessons.FirstOrDefault(x => x.tutor_id == Model.tutor_id);
    //var student = db.students.ToString();

}

@section css{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- boosttrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="pe-icon-7-stroke.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link href="~/Content/vendor/bootstrap/css/listoftutor.component.css" rel="stylesheet" />
}

<div class='thetop'></div>
<!-- body -->
<div class="main-content" style="margin-top: 1  00px">
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumb">
                            <img src="~/Content/img/avatar/tutor/@Model.avatar" height="450px" width="350" onerror="this.onerror = null; this.src='https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png'" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2 class="name font-24 mt-0 mb-0">@Model.fullname</h2>
                        <h5 class="mt-5 text-theme-color-2">Chemistry Teachers</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam vero expedita fugiat
                            illo
                            quasi doloremque, in unde omnis sint assumenda! Quaerat in, reprehenderit corporis
                            voluptatum natus sequi reiciendis ullam. Quam eaque dolorum voluptates cupiditate
                            explicabo.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt culpa dicta quaerat
                            qui
                            recusandae possimus placeat quidem ipsam voluptates similique libero tempore, labore
                            quasi
                            delectus vero alias, consectetur blanditiis eum maxime sunt accusantium ipsa doloribus
                            reiciendis. Ea quod reprehenderit deserunt. Veritatis omnis similique tempora delectus a
                            consequuntur, quis. Adipisicing elit. Nesciunt culpa dicta quaerat qui recusandae
                            possimus
                            placeat quidem ipsam voluptates similique libero tempore, labore quasi delectus vero
                            alias.
                        </p>
                        <ul class="styled-icons icon-dark icon-theme-colored icon-sm mt-15 mb-0">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                        @Html.ActionLink("Đăng kí gia sư", "RegisterTutor", new { id = Model.tutor_id }, new { @class = "btn btn-success" })

                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-md-4">
                        <h4 class="line-bottom">Về tôi:</h4>
                        <div class="volunteer-address">
                            <ul>
                                <li>
                                    <div class="bg-light media border-bottom p-15 mb-20">
                                        <div class="media-left">
                                            <i class="pe-7s-pen text-theme-colored font-24 mt-5"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0">Kinh nghiệm/ Chuyên ngành giảng dạy:</h5>
                                            <p>
                                                @Model.experience
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-light media border-bottom p-15 mb-20">
                                        <div class="media-left">
                                            <i class="fa fa-map-marker text-theme-colored font-24 mt-5"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0">Địa chỉ:</h5>
                                            <p>@Model.address</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-light media border-bottom p-15">
                                        <div class="media-left">
                                            <i class="fa fa-phone text-theme-colored font-24 mt-5"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0">Liên hệ:</h5>
                                            <p id="email">
                                                <span>Phone:</span> @Model.phone<br><span>Email:</span>
                                                @Model.email
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="line-bottom">Địa chỉ:</h4>

                        <!-- Google Map HTML Codes -->
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d6010.163916074619!2d106.69914999899659!3d10.75875375055098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x31752f131e931981%3A0x4b55e6eb27a9ec9d!2zMzk4IEhvw6BuZyBEaeG7h3UsIFBoxrDhu51uZyA1LCBRdeG6rW4gNCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!3m2!1d10.759539!2d106.69811899999999!5e0!3m2!1sen!2s!4v1550507769770" width="400" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="clearfix">
                            <h4 class="line-bottom">Liên hệ nhanh</h4>
                        </div>
                        <form id="contact-form" class="contact-form-transparent" action="/Tutor/Contact" method="post" onsubmit="return validation()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Họ tên" id="user"
                                               name="user" class="form-control" autocomplete="off">
                                        <span class="text-danger" id="username"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Số điện thoại" id="mobileNumber"
                                               name="mobileNumber" class="form-control" autocomplete="off">
                                        <span class="text-danger" id="mobileno"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="email" placeholder=" Email" id="emails"
                                               name="emails" class="form-control">
                                        <span class="text-danger" id="emailids"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Chủ đề" id="subject"
                                               name="subject" class="form-control">
                                        <span class="text-danger" id="sub"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea rows="5" placeholder="Lời nhắn..." id="content"
                                          name="content" class="form-control"></textarea>
                                <span class="text-danger" id="cont"></span>
                            </div>
                            <div class="form-group">
                                <button data-loading-text="Please wait..."
                                        class="btn btn-flat btn-dark btn-theme-colored mt-5" type="submit">
                                    Gửi liên hệ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Comment section-->
                @if (Session["Role"].ToString() == "student" &&  _trueHaveIdOfTutor != null)
                {
                    <!--method="post" action="~/User/danhgiatutor"-->
                <form role="form" id="danhgiaa" method="post" action="~/User/danhgiatutor">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" name="ttID" value="@Model.tutor_id" style="border:none;width:20px;text-align:center" hidden />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="message" class="h4 ">Nội dung đánh giá</label>
                        <textarea name="message" id="message" class="form-control" rows="5" placeholder="Nhập nội dung đánh giá" required></textarea>
                    </div>
                    <button type="submit" id="form-submit" class="btn btn-success ">Gửi</button>
                </form>
                }
                <h4 class="line-bottom">Đánh giá:</h4>
                @*<div class="row mt-30">*@
                @foreach (var item in Model.comments)
                {
                    <div class="row" style="margin:10px">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="~/Content/img/avatar/student/@item.student.avatar" width="50px" height="50px" onerror="this.onerror = null; this.src='https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png'" />
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@item.student.username</strong>
                                </div>
                                <div class="panel-body">
                                    @item.content
                                </div>
                                <span class="text-muted" style="font-size:12px">@item.dateTimeCmt</span><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->

                    </div>
                }
                <!--End comment section-->
                @*  *@
            </div>
        </div>
    </section>
</div>

<!-- /body -->
<!-- jQuery -->
@*<script src="jquery.js"></script>*@
@section scripts{
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <!-- boosttrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="../app/Component/HomeComponent/home.component.js"></script>
    <script>
        $(document).ready(function (e) {
            $(window).bind("scroll", function () {
                var o = $(".menu").height();
                $(window).scrollTop() > o ? $("nav").addClass("nav-fixed-top") : $("nav").removeClass(
                    "nav-fixed-top");
            })

        });
    </script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="google-map-init.js"></script>

    <script type="text/javascript">
        function validation() {
            var user = document.getElementById('user').value;
            var emails = document.getElementById('emails').value;
            var mobileNumber = document.getElementById('mobileNumber').value;
            var subject = document.getElementById('subject').value;
            var content = document.getElementById('content').value;


            if (user == "") {
                document.getElementById('username').innerHTML = " ** Họ tên không rỗng";
                return false;
            }

            if (mobileNumber == "") {
                document.getElementById('mobileno').innerHTML = " ** Số điện thoại không rỗng";
                return false;
            }
            if (isNaN(mobileNumber)) {
                document.getElementById('mobileno').innerHTML = " ** Số điện thoại phải là số";
                return false;
            }
            if (mobileNumber.length != 10) {
                document.getElementById('mobileno').innerHTML = " ** Số điện thoại phải có 10 số trở lên";
                return false;
            }

            if (emails == "") {
                document.getElementById('emailids').innerHTML = " ** Email không rỗng";
                return false;
            }

			if ((emails.charAt(emails.length - 4) != '.') && (emails.charAt(emails.length - 3) != '.')) {
                document.getElementById('emailids').innerHTML = " ** Email không đúng định dạng";
                return false;
            }

            if (subject == "") {
                document.getElementById('sub').innerHTML = " ** Chủ đề không rỗng";
                return false;
            }
            if (subject == "   ") {
                document.getElementById('sub').innerHTML = " ** Chủ đề không hợp lệ";
                return false;
            }

            if (content == "") {
                document.getElementById('cont').innerHTML = " ** Nội dung không rỗng";
                return false;
            }

        }
        
    </script>
}


