@{ 
    var sessionlist = ViewData["sessionlist"] as List<eTUTOR.Models.session>;
}
<table class="table" style="text-align: center;">
    <tr>
        <th>
            Thứ
        </th>
        <th>
            Thời gian học
        </th>

        <th>
           Gia sư
        </th>
        <th>
            Số buổi đã học
        </th>
        <th>
           Vào học
        </th>
    </tr>
    @if (!sessionlist.Any())
    {
        <tr>
            <td colspan="5">Không có buổi học nào</td>
        </tr>
    }
    else
    {
        foreach (var session in sessionlist)
        {
            <tr>
                <td>
                    @session.day_otw
                </td>
                <td>
                    @session.start_time - @session.end_time
                </td>

                <td>
                    @session.tutor.fullname
                </td>

                <td>
                    @session.total_sessions
                </td>
                <td>
                    <a href="javascript:void(0);" class="student_sub" data-subjectId="@session.tutor_id@session.subject_id">
                        <img src="https://static.thenounproject.com/png/6076-200.png" width="30" height="30">
                    </a>
                </td>
            </tr>
        }
    }
</table>